# Auto detect text files and perform LF normalization
* text=auto
.mkv filter=lfs diff=lfs merge=lfs -text
*.mkv filter=lfs diff=lfs merge=lfs -text

# Ignore ShaderLab and HSLS files
*.shader linguist-detectable=false
*.cginc linguist-detectable=false
